In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
properties = pd.read_csv('data/properties_2016.csv')

/home/atrij/miniconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (22,32,34,49,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# list of colums to be manipulated
#https://docs.google.com/spreadsheets/d/1-BYLToexfG88FU2asLv6f2oPdQxw1a4LB8SEYakUQCY/edit#gid=650561714&range=A1:D32

# colums to be removed
col_removal=['calculatedbathnbr','decktypeid','fireplaceflag','parcelid','taxdelinquencyflag']

# columns to be binarised
col_dum_1=['hashottuborspa','poolcnt','pooltypeid10','pooltypeid2','pooltypeid7']

col_dum_2=['architecturalstyletypeid','buildingclasstypeid','storytypeid','typeconstructiontypeid','taxdelinquencyyear']

# columns where nan's are to be filled with zero (or any other static value)
col_impute_static=['fireplacecnt','garagecarcnt','garagetotalsqft']

In [4]:
# column removal
properties=properties.drop(col_removal,axis=1)

In [5]:
# column binarisation
col_changed=[]
for c in col_dum_1:
    print c
    properties[c]=properties[c].fillna(0)
    properties=pd.get_dummies(properties,drop_first=True, columns=[c])
    col_changed.append(c)

hashottuborspa
poolcnt
pooltypeid10
pooltypeid2
pooltypeid7

In [6]:
for c in col_dum_2:
    print c
    properties=pd.get_dummies(properties,dummy_na= True, columns=[c])

architecturalstyletypeid
buildingclasstypeid
storytypeid
typeconstructiontypeid
taxdelinquencyyear

In [7]:
for c in col_impute_static:
    properties[c]=properties[c].fillna(0)

### create a pipeline as following
1. pick a feature, impute other values using a particular strategy
2. fill these values using regressor/classifier
3. repeat for every feature untill all are genuinly imputed

### imputing remaining columns with -13

In [8]:
size_data=len(properties)

In [9]:
size_data

2985217

In [10]:
impute_list=[]

for c in properties.columns:
    impute_list.append((properties[c].dtype,c,size_data-pd.isnull(properties[c]).value_counts()[False]))
    properties[c]=properties[c].fillna(-13)

In [11]:
imputation_summary=pd.DataFrame(impute_list,columns=['datatype','feature','values imputed initially'])

In [12]:
imputation_summary['ratio']=imputation_summary['values imputed initially']/float(size_data)

In [19]:
imputation_summary

    datatype                       feature  values imputed initially     ratio
0    float64         airconditioningtypeid                   2173698  0.728154
1    float64                  basementsqft                   2983589  0.999455
2    float64                   bathroomcnt                     11462  0.003840
3    float64                    bedroomcnt                     11450  0.003836
4    float64         buildingqualitytypeid                   1046729  0.350637
5    float64      finishedfloor1squarefeet                   2782500  0.932093
6    float64  calculatedfinishedsquarefeet                     55565  0.018613
7    float64          finishedsquarefeet12                    276033  0.092467
8    float64          finishedsquarefeet13                   2977545  0.997430
9    float64          finishedsquarefeet15                   2794419  0.936086
10   float64          finishedsquarefeet50                   2782500  0.932093
11   float64           finishedsquarefeet6                   2963216  0.992630
12   float64                          fips                     11437  0.003831
13   float64                  fireplacecnt                         0  0.000000
14   float64                   fullbathcnt                    128912  0.043183
15   float64                  garagecarcnt                         0  0.000000
16   float64               garagetotalsqft                         0  0.000000
17   float64         heatingorsystemtypeid                   1178816  0.394885
18   float64                      latitude                     11437  0.003831
19   float64                     longitude                     11437  0.003831
20   float64             lotsizesquarefeet                    276099  0.092489
21   float64                   poolsizesum                   2957257  0.990634
22    object     propertycountylandusecode                     12277  0.004113
23   float64         propertylandusetypeid                     11437  0.003831
24    object            propertyzoningdesc                   1006588  0.337191
25   float64        rawcensustractandblock                     11437  0.003831
26   float64                  regionidcity                     62845  0.021052
27   float64                regionidcounty                     11437  0.003831
28   float64          regionidneighborhood                   1828815  0.612624
29   float64                   regionidzip                     13980  0.004683
..       ...                           ...                       ...       ...
74     uint8        taxdelinquencyyear_3.0                         0  0.000000
75     uint8        taxdelinquencyyear_4.0                         0  0.000000
76     uint8        taxdelinquencyyear_5.0                         0  0.000000
77     uint8        taxdelinquencyyear_6.0                         0  0.000000
78     uint8        taxdelinquencyyear_7.0                         0  0.000000
79     uint8        taxdelinquencyyear_8.0                         0  0.000000
80     uint8        taxdelinquencyyear_9.0                         0  0.000000
81     uint8       taxdelinquencyyear_10.0                         0  0.000000
82     uint8       taxdelinquencyyear_11.0                         0  0.000000
83     uint8       taxdelinquencyyear_12.0                         0  0.000000
84     uint8       taxdelinquencyyear_13.0                         0  0.000000
85     uint8       taxdelinquencyyear_14.0                         0  0.000000
86     uint8       taxdelinquencyyear_15.0                         0  0.000000
87     uint8       taxdelinquencyyear_79.0                         0  0.000000
88     uint8       taxdelinquencyyear_82.0                         0  0.000000
89     uint8       taxdelinquencyyear_84.0                         0  0.000000
90     uint8       taxdelinquencyyear_86.0                         0  0.000000
91     uint8       taxdelinquencyyear_87.0                         0  0.000000
92     uint8       taxdelinquencyyear_88.0                         0  0.000000
93     uint8       taxdelinquencyyear_90.0                         0  0.000000
94     uint8       taxdelinquencyyear_91.0                         0  0.000000
95     uint8       taxdelinquencyyear_92.0                         0  0.000000
96     uint8       taxdelinquencyyear_93.0                         0  0.000000
97     uint8       taxdelinquencyyear_94.0                         0  0.000000
98     uint8       taxdelinquencyyear_95.0                         0  0.000000
99     uint8       taxdelinquencyyear_96.0                         0  0.000000
100    uint8       taxdelinquencyyear_97.0                         0  0.000000
101    uint8       taxdelinquencyyear_98.0                         0  0.000000
102    uint8       taxdelinquencyyear_99.0                         0  0.000000
103    uint8        taxdelinquencyyear_nan                         0  0.000000

[104 rows x 4 columns]

In [15]:
result = imputation_summary.sort_values(['ratio'], ascending=[0])

In [18]:
##first batch of imputation
cols_reg_impute_1=result.iloc[:10]['feature']

In [ ]:
# implementing pipeline object
 # making test and trining set

    
for c in cols_reg_impute_1:
    co